/* TODO: Add sitewide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

p, span, button, li, label, input, select, td, th, a {
  font-family: "Manrope", sans-serif;
}

.main-content {
  margin-left: 250px;
}

.error{
  color: red;
  font-size: smaller;
}

footer {
  border-top: black solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: auto;
}

footer h2 {
  margin-bottom: 20px;
}

.developer-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.developer {
  text-align: center;
}

.fa-brands {
  font-size: 32px;
}

.developer a i {
  color: black;
  margin: 0 10px;
  transition: color 0.3s ease;
}
.developer a:hover i {
  color: #808080;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 850px) {
  .sidebar {
      display: none; /* Hide the sidebar on smaller screens */
  }
  .main-content {
      margin-left: 0; /* Remove the left margin on smaller screens */
  }
}
