/* TODO: Add sitewide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

p, span, button, li, label, input, select, td, th, a {
  font-family: "Manrope", sans-serif;
}

.main-content {
  margin-left: 250px;
}

@media screen and (max-width: 850px) {
  .sidebar {
      display: none; /* Hide the sidebar on smaller screens */
  }
  .main-content {
      margin-left: 0; /* Remove the left margin on smaller screens */
  }
}
